<html>
  <body>
    <h1>Scenario history</h1>
    <a href='/results'>Home</a>
      <ul>
        {% for group in results|groupby('scenario') %}
          <li><h2>Scenario: {{ group.grouper }}</h2><ul>
          {% for result in group.list %}
            <li>run date: {{ result.run_date}} run time: {{ result.run_time }} status: {{ result.status }}</li>
          {% endfor %}</ul></li>
        {% endfor %}
      </ul>
      <div id={{ chartID|safe }} class="chart" style="height: 100px; width: 500px"></div>
      <script>
        var chart_id = {{ chartID|safe }}
        var series = {{ series|safe }}
        var title = {{ title|safe }}
        var xAxis = {{ xAxis|safe }}
        var yAxis = {{ yAxis|safe }}
        var chart = {{ chart|safe }}
      </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="../static/javascript/main.js"></script>

  </body>
</html>
